In [1]:
import pandas as pd

## pandas中的Series和DataFrame

In [4]:
x1 = pd.Series([1,2,3,4])
x1

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
x2 = pd.Series(data=[1,2,3,4],index=['a','b','c','d'])
x2

a    1
b    2
c    3
d    4
dtype: int64

In [7]:
d = {'a':1, 'b':2, 'c':3, 'd':4}
x3 = pd.Series(d)
x3

a    1
b    2
c    3
d    4
dtype: int64

In [8]:
data = {'Chinese': [66, 95, 93, 90,80],'English': [65, 85, 92, 88, 90],'Math': [30, 98, 96, 77, 90]}
df1= pd.DataFrame(data)
df1

   Chinese  English  Math
0       66       65    30
1       95       85    98
2       93       92    96
3       90       88    77
4       80       90    90

In [14]:
df2 = pd.DataFrame(data,
   index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'],)

df2

            Chinese  English  Math
ZhangFei         66       65    30
GuanYu           95       85    98
ZhaoYun          93       92    96
HuangZhong       90       88    77
DianWei          80       90    90

In [18]:
df2.isnull().any()

Chinese    False
English    False
Math       False
dtype: bool

### apply函数

In [20]:
def double_df(x):
    return 2*x
df2['Chinese'].apply(double_df)

ZhangFei      132
GuanYu        190
ZhaoYun       186
HuangZhong    180
DianWei       160
Name: Chinese, dtype: int64

## 数据统计

In [22]:
df1.describe()

         Chinese    English       Math
count   5.000000   5.000000   5.000000
mean   84.800000  84.000000  78.200000
std    11.987493  10.931606  28.163807
min    66.000000  65.000000  30.000000
25%    80.000000  85.000000  77.000000
50%    90.000000  88.000000  90.000000
75%    93.000000  90.000000  96.000000
max    95.000000  92.000000  98.000000

## 数据表的合并

In [ ]:
pd.merge
pd.concat