In [1]:
import pandas as pd

In [5]:
a = pd.DataFrame(data = [[1,2,1],[3,3,3],[5,6,7]])
a.columns=['a','b','c']
a

   a  b  c
0  1  2  1
1  3  3  3
2  5  6  7

In [12]:
a[a['b']==4]['c'].isnull()

Series([], Name: c, dtype: bool)

In [11]:
a.isnull()

       a      b      c
0  False  False  False
1  False  False  False
2  False  False  False

In [15]:
flag = a[a['b']==4]['c'].empty
flag

True

In [17]:
if  flag:
    print("ok")

ok