## 网格搜索案例

In [1]:
from sklearn import ensemble,datasets
from sklearn.model_selection import train_test_split,GridSearchCV

In [2]:
iris = datasets.load_iris()
iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': '/opt/anaconda3/lib/python3.7/site-packages/sklearn/datasets/data/iris.csv'}

In [3]:
rf = ensemble.RandomForestClassifier()
param = {"n_estimators":range(1,11)}
gs = GridSearchCV(rf,param)

In [4]:
gs.fit(iris.data,iris.target)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=None, param_grid={'n_estimators': range(1, 11)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [5]:
gs.cv_results_

{'mean_fit_time': array([0.00307941, 0.00624053, 0.0079298 , 0.00742443, 0.00833583,
        0.01254567, 0.01301757, 0.01521564, 0.01379259, 0.02083747]),
 'std_fit_time': array([0.00055379, 0.0005129 , 0.0010706 , 0.00114889, 0.0002229 ,
        0.00273757, 0.00262877, 0.00381227, 0.00024347, 0.00412939]),
 'mean_score_time': array([0.00111564, 0.00086967, 0.00092689, 0.00109458, 0.00096742,
        0.00147939, 0.00166877, 0.00126203, 0.00140222, 0.00147168]),
 'std_score_time': array([1.91993370e-04, 1.12219336e-04, 8.25542094e-05, 1.53153954e-04,
        1.00971199e-05, 5.52673911e-04, 6.44095468e-04, 8.14238912e-05,
        1.92436863e-04, 9.62735548e-05]),
 'param_n_estimators': masked_array(data=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
              mask=[False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'params': [{'n_estimators': 1},
  {'n_estimators': 2},
  {'n_estimators': 3},
  {'n_estimators': 4},
  {'n_estimators': 5},
  {'n_estimators': 6},
  {'n_estimators': 7},
  {'n_estimators': 8},
  {'n_estimators': 9},
  {'n_estimators': 10}],
 'split0_test_score': array([0.90196078, 0.96078431, 0.98039216, 0.98039216, 0.98039216,
        0.98039216, 0.98039216, 0.96078431, 0.98039216, 0.98039216]),
 'split1_test_score': array([0.94117647, 0.90196078, 0.8627451 , 0.92156863, 0.92156863,
        0.90196078, 0.92156863, 0.90196078, 0.92156863, 0.92156863]),
 'split2_test_score': array([1.        , 0.95833333, 0.97916667, 0.97916667, 1.        ,
        0.95833333, 0.95833333, 0.97916667, 0.97916667, 0.97916667]),
 'mean_test_score': array([0.94666667, 0.94      , 0.94      , 0.96      , 0.96666667,
        0.94666667, 0.95333333, 0.94666667, 0.96      , 0.96      ]),
 'std_test_score': array([0.04      , 0.02732042, 0.05545121, 0.02758824, 0.03333333,
        0.03331372, 0.0244949 , 0.0329438 , 0.02758824, 0.02758824]),
 'rank_test_score': array([6, 9, 9, 2, 1, 6, 5, 6, 2, 2], dtype=int32)}

In [6]:
gs.best_score_

0.9666666666666667

In [7]:
# 最优参数
gs.best_params_

{'n_estimators': 5}

## Pipeline的使用

In [8]:
from sklearn import preprocessing
from sklearn.pipeline import Pipeline

In [9]:
parameters = {"rf__n_estimators": range(1,11)}
pipeline = Pipeline([('scaler',preprocessing.StandardScaler()),('rf',rf)])

In [10]:
gs2 = GridSearchCV(estimator=pipeline,param_grid=parameters)

In [11]:
gs2.fit(iris.data,iris.target)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=Pipeline(memory=None,
                                steps=[('scaler',
                                        StandardScaler(copy=True,
                                                       with_mean=True,
                                                       with_std=True)),
                                       ('rf',
                                        RandomForestClassifier(bootstrap=True,
                                                               class_weight=None,
                                                               criterion='gini',
                                                               max_depth=None,
                                                               max_features='auto',
                                                               max_leaf_nodes=None,
                                                               min_impurity_decrease=0.0,
                                                               min_impurity_split=None,
                                                               min_samples_leaf=1,
                                                               min_samples_split=2,
                                                               min_weight_fraction_leaf=0.0,
                                                               n_estimators='warn',
                                                               n_jobs=None,
                                                               oob_score=False,
                                                               random_state=None,
                                                               verbose=0,
                                                               warm_start=False))],
                                verbose=False),
             iid='warn', n_jobs=None,
             param_grid={'rf__n_estimators': range(1, 11)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [12]:
gs2.best_score_

0.96

In [13]:
gs2.best_params_

{'rf__n_estimators': 3}

## 信用卡违约率进行分析

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [15]:
data = pd.read_csv('./data/credit_default-master/UCI_Credit_Card.csv')
data

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000.0,1,3,1,39,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,1,3,1,41,1,-1,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,1,2,1,46,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [16]:
data.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,15000.500000,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,8660.398374,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [17]:
data.iloc[:,-1].value_counts()

0    23364
1     6636
Name: default.payment.next.month, dtype: int64

In [18]:
X = data.drop(labels=['ID','default.payment.next.month'],axis=1)
X

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0
1,120000.0,2,2,2,26,-1,2,0,0,0,...,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0
2,90000.0,2,2,2,34,0,0,0,0,0,...,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0
3,50000.0,2,2,1,37,0,0,0,0,0,...,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000.0,1,3,1,39,0,0,0,0,0,...,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0
29996,150000.0,1,3,2,43,-1,-1,-1,-1,0,...,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0
29997,30000.0,1,2,2,37,4,3,2,-1,0,...,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0
29998,80000.0,1,3,1,41,1,-1,0,0,0,...,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0
29999,50000.0,1,2,1,46,0,0,0,0,0,...,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0

In [19]:
y = data.iloc[:,-1]
y

0        1
1        1
2        0
3        0
4        0
        ..
29995    0
29996    0
29997    1
29998    1
29999    1
Name: default.payment.next.month, Length: 30000, dtype: int64

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [21]:
# 对具体的分类器进行GridSearchCV参数调优
def Grid_work(ml,X_train,X_test,y_train,y_test,param_grid,score='accuracy'):
    gs = GridSearchCV(estimator=ml,param_grid=param_grid)
    search = gs.fit(X_train,y_train)
    print("最优参数及score：",search.best_params_,search.best_score_)
    y_pred= gs.predict(X_test)
    print("模型效果：")
    print(metrics.classification_report(y_test,y_pred))
    print("网格搜索的结果参数：")
    print(search.cv_results_)

In [22]:
svm = SVC(random_state=1,kernel='rbf')
parm_svm = {"C":np.linspace(0.1,1,5),"gamma":np.linspace(0,0.05,5)}
Grid_work(svm,X_train,X_test,y_train,y_test,parm_svm)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

最优参数及score： {'C': 1.0, 'gamma': 0.0125} 0.7780099502487562
模型效果：
              precision    recall  f1-score   support

           0       0.78      0.99      0.88      7742
           1       0.50      0.02      0.03      2158

    accuracy                           0.78      9900
   macro avg       0.64      0.51      0.46      9900
weighted avg       0.72      0.78      0.69      9900

网格搜索的结果参数：
{'mean_fit_time': array([ 5.29113634, 21.28293626, 20.25249998, 21.12712828, 20.17563343,
        3.42495966, 22.43085837, 22.39392726, 30.68734463, 28.04198798,
        3.27629193, 22.97847136, 22.44687406, 26.83450898, 28.07311996,
        6.67505566, 25.65668694, 28.56415208, 28.2610964 , 31.73350024,
        4.26447765, 28.95501502, 29.29432742, 31.02361663, 28.9999756 ]), 'std_fit_time': array([0.70958977, 1.83114582, 0.65201687, 0.35983345, 0.49153813,
       0.16059718, 1.10794308, 1.2411389 , 6.87827741, 6.24924377,
       0.13082117, 2.31046126, 2.57643144, 4.18414916, 0.87772136,
       1.38081088, 3.0433195 , 2.65201053, 2.60121934, 1.24647088,
       0.25640314, 1.47520049, 0.59859469, 3.45018499, 5.95632256]), 'mean_score_time': array([1.84323494, 2.70239305, 2.76219734, 2.78928041, 2.51411366,
       1.08888896, 3.09152905, 2.66967543, 3.71914959, 2.72498465,
       1.05465174, 2.64927053, 3.02038463, 3.02762731, 3.60428174,
       1.48363733, 3.01034625, 3.37801647, 3.25744629, 3.29769937,
       1.33624125, 3.60656945, 3.32796486, 3.65969062, 3.13998159]), 'std_score_time': array([0.98018204, 0.02610788, 0.11206267, 0.07652568, 0.03429553,
       0.04587573, 0.33029534, 0.09978776, 0.36460476, 0.23151762,
       0.00685485, 0.02466224, 0.63388231, 0.16714389, 1.16994461,
       0.17407301, 0.16661077, 0.49437322, 0.23061999, 0.08116476,
       0.03748137, 0.51545234, 0.22520384, 0.53744206, 0.12397133]), 'param_C': masked_array(data=[0.1, 0.1, 0.1, 0.1, 0.1, 0.325, 0.325, 0.325, 0.325,
                   0.325, 0.55, 0.55, 0.55, 0.55, 0.55, 0.775, 0.775,
                   0.775, 0.775, 0.775, 1.0, 1.0, 1.0, 1.0, 1.0],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False],
       fill_value='?',
            dtype=object), 'param_gamma': masked_array(data=[0.0, 0.0125, 0.025, 0.037500000000000006, 0.05, 0.0,
                   0.0125, 0.025, 0.037500000000000006, 0.05, 0.0, 0.0125,
                   0.025, 0.037500000000000006, 0.05, 0.0, 0.0125, 0.025,
                   0.037500000000000006, 0.05, 0.0, 0.0125, 0.025,
                   0.037500000000000006, 0.05],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False],
       fill_value='?',
            dtype=object), 'params': [{'C': 0.1, 'gamma': 0.0}, {'C': 0.1, 'gamma': 0.0125}, {'C': 0.1, 'gamma': 0.025}, {'C': 0.1, 'gamma': 0.037500000000000006}, {'C': 0.1, 'gamma': 0.05}, {'C': 0.325, 'gamma': 0.0}, {'C': 0.325, 'gamma': 0.0125}, {'C': 0.325, 'gamma': 0.025}, {'C': 0.325, 'gamma': 0.037500000000000006}, {'C': 0.325, 'gamma': 0.05}, {'C': 0.55, 'gamma': 0.0}, {'C': 0.55, 'gamma': 0.0125}, {'C': 0.55, 'gamma': 0.025}, {'C': 0.55, 'gamma': 0.037500000000000006}, {'C': 0.55, 'gamma': 0.05}, {'C': 0.775, 'gamma': 0.0}, {'C': 0.775, 'gamma': 0.0125}, {'C': 0.775, 'gamma': 0.025}, {'C': 0.775, 'gamma': 0.037500000000000006}, {'C': 0.775, 'gamma': 0.05}, {'C': 1.0, 'gamma': 0.0}, {'C': 1.0, 'gamma': 0.0125}, {'C': 1.0, 'gamma': 0.025}, {'C': 1.0, 'gamma': 0.037500000000000006}, {'C': 1.0, 'gamma': 0.05}], 'split0_test_score': array([0.77719743, 0.77719743, 0.77719743, 0.77719743, 0.77719743,
       0.77719743, 0.77764513, 0.77779436, 0.7774959 , 0.7774959 ,
       0.77719743, 0.77839128, 0.77854052, 0.77839128, 0.77824205,
       0.77719743, 0.77839128, 0.77839128, 0.77868975, 0.77809282,
       0.77719743, 0.77943591, 0.77854052, 0.77868975, 0.77868975]), 'split1_test_score': array([0.77716418, 0.77716418, 0.77716418, 0.77716418, 0.77716418,
       0.77716418, 0.77731343, 0.77761194, 0.77746269, 0.77731343,
       0.77716418, 0.77716418, 0.77731343, 0.77776119, 0.77731343,
       0.77716418, 0.77701493, 0.77701493, 0.77776119, 0.77731343,
       0.77716418, 0.77731343, 0.77746269, 0.77731343, 0.77761194]), 'split2_test_score': array([0.77728019, 0.77728019, 0.77728019, 0.77728019, 0.77728019,
       0.77728019, 0.7778773 , 0.77772802, 0.77772802, 0.77772802,
       0.77728019, 0.77728019, 0.77757874, 0.77757874, 0.77728019,
       0.77728019, 0.77713092, 0.77683236, 0.77683236, 0.77698164,
       0.77728019, 0.77728019, 0.77728019, 0.77683236, 0.77668309]), 'mean_test_score': array([0.77721393, 0.77721393, 0.77721393, 0.77721393, 0.77721393,
       0.77721393, 0.77761194, 0.77771144, 0.77756219, 0.77751244,
       0.77721393, 0.77761194, 0.77781095, 0.77791045, 0.77761194,
       0.77721393, 0.77751244, 0.77741294, 0.77776119, 0.77746269,
       0.77721393, 0.77800995, 0.77776119, 0.77761194, 0.77766169]), 'std_test_score': array([4.87757130e-05, 4.87757130e-05, 4.87757130e-05, 4.87757130e-05,
       4.87757130e-05, 4.87757130e-05, 2.31380594e-04, 7.53914486e-05,
       1.18027757e-04, 1.69651610e-04, 4.87757130e-05, 5.53172620e-04,
       5.27188080e-04, 3.48102995e-04, 4.45813728e-04, 4.87757130e-05,
       6.23309437e-04, 6.95877506e-04, 7.58274144e-04, 4.65753417e-04,
       4.87757130e-05, 1.00850651e-03, 5.56138451e-04, 7.87104206e-04,
       8.19970825e-04]), 'rank_test_score': array([17, 17, 17, 17, 17, 17,  8,  6, 12, 13, 17,  8,  3,  2,  8, 17, 13,
       16,  4, 15, 17,  1,  4,  8,  7], dtype=int32)}

In [23]:
dtc = DecisionTreeClassifier(random_state=1,)
param_dtc ={"max_depth":[6,9,11]}
Grid_work(dtc,X_train,X_test,y_train,y_test,param_dtc)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

最优参数及score： {'max_depth': 6} 0.8163681592039801
模型效果：
              precision    recall  f1-score   support

           0       0.84      0.94      0.89      7742
           1       0.65      0.37      0.47      2158

    accuracy                           0.82      9900
   macro avg       0.75      0.66      0.68      9900
weighted avg       0.80      0.82      0.80      9900

网格搜索的结果参数：
{'mean_fit_time': array([0.12833055, 0.16414897, 0.19922503]), 'std_fit_time': array([0.01063216, 0.00254247, 0.00324091]), 'mean_score_time': array([0.00356897, 0.00307941, 0.00326792]), 'std_score_time': array([0.0006383 , 0.00022744, 0.00029381]), 'param_max_depth': masked_array(data=[6, 9, 11],
             mask=[False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'max_depth': 6}, {'max_depth': 9}, {'max_depth': 11}], 'split0_test_score': array([0.82092225, 0.8140576 , 0.80002985]), 'split1_test_score': array([0.81477612, 0.80447761, 0.79462687]), 'split2_test_score': array([0.81340499, 0.80564263, 0.79892521]), 'mean_test_score': array([0.81636816, 0.8080597 , 0.7978607 ]), 'std_test_score': array([0.00326887, 0.00426821, 0.00233071]), 'rank_test_score': array([1, 2, 3], dtype=int32)}

In [24]:
rf2 = ensemble.RandomForestClassifier(random_state=1)
param_rf2 ={"n_estimators":[5,10,15]}
Grid_work(rf2,X_train,X_test,y_train,y_test,param_rf2)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

最优参数及score： {'n_estimators': 15} 0.8080099502487562
模型效果：
              precision    recall  f1-score   support

           0       0.84      0.93      0.88      7742
           1       0.59      0.37      0.45      2158

    accuracy                           0.81      9900
   macro avg       0.71      0.65      0.67      9900
weighted avg       0.79      0.81      0.79      9900

网格搜索的结果参数：
{'mean_fit_time': array([0.24665443, 0.43754053, 0.60728542]), 'std_fit_time': array([0.00532663, 0.03760278, 0.02190647]), 'mean_score_time': array([0.02427944, 0.02372138, 0.02694368]), 'std_score_time': array([0.01703305, 0.00366266, 0.00089642]), 'param_n_estimators': masked_array(data=[5, 10, 15],
             mask=[False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'n_estimators': 5}, {'n_estimators': 10}, {'n_estimators': 15}], 'split0_test_score': array([0.79420982, 0.81226683, 0.81629608]), 'split1_test_score': array([0.78343284, 0.80119403, 0.80373134]), 'split2_test_score': array([0.77951933, 0.80220928, 0.8040006 ]), 'mean_test_score': array([0.78572139, 0.80522388, 0.80800995]), 'std_test_score': array([0.00621186, 0.00499789, 0.00586086]), 'rank_test_score': array([3, 2, 1], dtype=int32)}

In [25]:
knn = KNeighborsClassifier(metric='minkowski')
param_knn ={"n_neighbors":[3,6,9]}
Grid_work(knn,X_train,X_test,y_train,y_test,param_knn)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

最优参数及score： {'n_neighbors': 6} 0.7685572139303483
模型效果：
              precision    recall  f1-score   support

           0       0.79      0.96      0.87      7742
           1       0.39      0.10      0.16      2158

    accuracy                           0.77      9900
   macro avg       0.59      0.53      0.51      9900
weighted avg       0.71      0.77      0.71      9900

网格搜索的结果参数：
{'mean_fit_time': array([0.02533189, 0.02353962, 0.02228014]), 'std_fit_time': array([0.00544813, 0.0004014 , 0.00124226]), 'mean_score_time': array([0.9139599 , 1.12794097, 1.18793909]), 'std_score_time': array([0.06514748, 0.0882278 , 0.19447819]), 'param_n_neighbors': masked_array(data=[3, 6, 9],
             mask=[False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'n_neighbors': 3}, {'n_neighbors': 6}, {'n_neighbors': 9}], 'split0_test_score': array([0.73675571, 0.76973586, 0.76466199]), 'split1_test_score': array([0.74686567, 0.76910448, 0.76791045]), 'split2_test_score': array([0.72697418, 0.76683087, 0.75623227]), 'mean_test_score': array([0.73686567, 0.76855721, 0.76293532]), 'std_test_score': array([0.00812074, 0.00124749, 0.00492131]), 'rank_test_score': array([3, 1, 2], dtype=int32)}